%h1.title Listing All Questions
= link_to "Create New Question", new_question_path
- @questions.each do |question|
  %div{id: dom_id(question)}
    %h2= link_to question.title, question_path(question)
    %p.description= question.description
    %p
      Created On: #{formatted_date(question.created_at)}
  /Note that *Formatted_date* REPLACED:
  / = question.created_at.strftime("%Y-%b-%d")
  
  %hr/

/# Below code is jquery to increase %h1 font-size by 1px
/# parseInt() converts "20 px" into integer "20"
/# 
:javascript
  $("h1").each(function(){
    var fontSize = parseInt($(this).css("font-size"));
    fontSize++;
    $(this).css("font-size", fontSize + "px");
  });


//Practice Javascript:
//Below jQuery code adds UL/LI tags based on a number input
%h3.title "Listing all numbers:"

:javascript

  function generateUl(number) {
    
    var $ul = $("<ul></ul>");
    for(var i = 0; i < number; i++) {
      var $li = $("<li></li>", {text: "Element" + i});
      $ul.append($li);
    }
    $("body").append($ul);
  }
  generateUl(7);


//Below code prints all questions containing "abc"
:javascript

  $("h2:contains('Abc')").each(function(){

    // console.log($(this).text().length));
    x = $(this).text().length;
    $("body").append(x)

  });

//Writing a code that capitalizes all the text inside "h2" elements containing the letter "a"

:javascript

  $("h2:contains('A')").each(function(){

    console.log($(this).text().toUpperCase());

  });

//Writing a code that Upper Cases all the text inside "<a>" elements inside "h2" elements 
:javascript
  $("h2 a").each(function(){

    $(this).text( $(this).text().toUpperCase() );
  
  });

//Writing a code that capitalized all the text inside "a" elements inside "h2" elements

/ $("h2 a").each(function(){
/   var capitalizedText = $(this).text().charAt(0).toUpperCase() + $(this).text().slice(1);
/   $(this).text(capitalizedText);

/ });

//Writing a code that removes from the DOM a random H2 element

:javascript
  var randomnumber=Math.floor(Math.random() + $("h2").length())

  var $h2 = $("h2");
    $("h2").each(function(){
    Math.random()

    $h2.remove;

  });


:javascript

  function removeH2() {

    var index = Math.floor(Math.random() + $("h2").length);
    if($("h2").length > 0) {
      $("h2")[index].remove();
    }

  };