

%h1.title Listing all questions
= link_to "Create New Question", new_question_path
- @questions.each do |question|
  %div{id: dom_id(question)}
    %h2= link_to question.title, question_path(question)
    %p.description= question.description
    %p
      Created On: #{formatted_date(question.created_at)}
  /Note that *Formatted_date* REPLACED:
  / = question.created_at.strftime("%Y-%b-%d")
  
  %hr/

