%h1 Hello world (about us)
= image_tag "kelsey_image.jpg"
/ USE THE FOLLOWING METHOD ABOVE TO ADD IMAGES
/ PLACE IMAGES IN ASSETS FOLDER
/ NOT:  e.g. <img src "..."
.btn.btn-primary "hello"

%ul
  %li hey
%ul
  %li hello

/ = .btn.btn-success Click Me!

- (1..5).each do |x|
  .btn.btn-success Click Me!