= link_to "click me", "javascript:void(0);", class: "btn btn-info my-button", id: "1"
= link_to "click me", "javascript:void(0);", class: "btn btn-info my-button", id: "2"
= link_to "click me", "javascript:void(0);", class: "btn btn-info my-button", id: "3"