/ Note this page is a partial.  We know this page is defined as a partial for Rails due to its underscore in the title:  _answer.html.haml

//NOTE: addition of {id: dom_id()} is for AJAX JS to reference
.well{id: dom_id(answer)}
  .row
    .col-sm-8.col-md.8.col-xs-8
      %p= answer.body
      %p Created on #{formatted_date(answer.created_at)}
    .col-sm-8.col-md.8.col-xs-8
      .pull-right= button_to "Delete", question_answer_path(@question, answer), method: :delete, class: "btn btn-danger", remote: true, class: "btn btn-danger"
      // remote:true needed for AJAX
      / = link_to "Test Me" Javascript 
